extends layout

block content
  p Actualizado #{datos.climaWU.dt}
  #medidas
    #weather.med
      .circle
        //if(datos.weather.origen == 'WU')
          //img(src='http://icons.wxug.com/i/c/j/' + datos.weather.weather[0].icon + '.gif')
        //else
        img(src='http://openweathermap.org/img/w/' + datos.climaOWM.weather[0].icon + '.png')
      .medida
        p #{datos.climaOWM.weather[0].description}
    #temperatura.med
      .circle
        img(src='./images/termometro.png')
      .medida
        p #{datos.climaWU.main.temp} °C
    #presion.med
      .circle
        img(src='./images/presion.png')
      .medida
        p #{datos.climaOWM.main.pressure} hPa (owm)
        p #{datos.climaWU.main.pressure} hPa (wu)
    #humedad.med
      .circle
        img(src='./images/humedad.png')
      .medida 
        p #{datos.climaWU.main.humidity} %
    #precipitacion.med
      .circle
        img(src='./images/lluvia.png')
      .medida 
        p hoy: #{datos.lluviaOWM.hoy} mm
        p mes: #{datos.lluviaOWM.mes} mm
        p año: #{datos.lluviaOWM.anio} mm
    #viento.med
      .circle
        img(src='./images/viento.png')
      .medida 
        p #{datos.climaWU.wind.speed} km/h
  
  #graficos graficos  
  #pronosticoExtendido 
    each fc in datos.forecast.list
      .extendido
        em #{fc.fecha.diaSem}
        p #{fc.fecha.dia}/#{fc.fecha.mes}
        //img(src='http://openweathermap.org/img/w/' + fc.weather[0].icon + '.png')
        img(src='http://icons.wxug.com/i/c/j/' + fc.weather[0].icon + '.gif')
        p #{fc.weather[0].description}
        p Mín: #{fc.temp.min} °C
        p Máx: #{fc.temp.max} °C
        //p #{fc.pressure} hpa
        p Hum: #{fc.humidity} %
        p Viento: #{fc.speed} km/h
