extends layout

block content
  p Actualizado #{datos.weather.dt}
  #medidas
    #weather.med
      .circle
        //if(datos.weather.origen == 'WU')
          //img(src='http://icons.wxug.com/i/c/j/' + datos.weather.weather[0].icon + '.gif')
        //else
        img(src='http://openweathermap.org/img/w/' + datos.weatherOWM.weather[0].icon + '.png')
      .medida
        p #{datos.weatherOWM.weather[0].description}
    #temperatura.med
      .circle
        img(src='./images/termometro.png')
      .medida
        p #{datos.weather.main.temp} °C
    #presion.med
      .circle
        img(src='./images/presion.png')
      .medida
        if(datos.weather.main.pressure == 0)
          p #{datos.weatherOWM.main.pressure} hPa
        else
          p #{datos.weather.main.pressure} hPa
    #humedad.med
      .circle
        img(src='./images/humedad.png')
      .medida 
        p #{datos.weather.main.humidity} %
    #precipitacion.med
      .circle
        img(src='./images/lluvia.png')
      .medida 
        if (datos.weather.rain) 
          p #{datos.weather.rain['1h']} mm
        else
          p Diaria
            span 0 mm
          p.p1 Mensual
            span 10 mm
          p.p1 Anual
            span 150 mm
    #viento.med
      .circle
        img(src='./images/viento.png')
      .medida 
        p #{datos.weather.wind.speed} km/h
  #graficos graficos  
  #pronosticoExtendido 
    each fc in datos.forecast.list
      .extendido
        em #{fc.fecha.diaSem}
        p #{fc.fecha.dia}/#{fc.fecha.mes}
        //img(src='http://openweathermap.org/img/w/' + fc.weather[0].icon + '.png')
        img(src='http://icons.wxug.com/i/c/j/' + fc.weather[0].icon + '.gif')
        p #{fc.weather[0].description}
        p Mín: #{fc.temp.min} °C
        p Máx: #{fc.temp.max} °C
        //p #{fc.pressure} hpa
        p Hum: #{fc.humidity} %
        p Viento: #{fc.speed} km/h
